---
import TocNav from '../components/TocNav.astro';
const { entry, headings = [] } = Astro.props;
import Aside from '../components/Aside.astro';
const toc = headings.filter((h) => h.depth === 2 || h.depth === 3);
const offsetTop = 0; // ex: hauteur de ton header fixe (ajuste sinon 0)
---
<div data-toc-sentinel style="height: 200px; visibility: hidden;"></div>
<TocNav toc={toc} offset={offsetTop} />
<header class="header-page">
  <div class="container header-infos">
    <h1 class="titre-article">{entry.data.titre}</h1>
    {entry.data.baseline && <p class="titre-article-baseline">{entry.data.baseline}</p>}
  </div>
</header>

<!-- {entry.data.menu && (
  <nav id="pageMenu">
    <div class="container-max">
      <ul class="page-menu">
        {entry.data.menu.map((m) => (
          <li><a href={m.href} class="nav-link">{m.label}</a></li>
        ))}
      </ul>
    </div>
  </nav>
)} -->

<main class="container">
  <!-- <Aside toc={toc} class="aside-right" title="Sommaire" /> -->
  <article class="page-formation">
    <slot /> <!-- contenu MD/MDX -->
  </article>
</main>

